{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <img src="https://images.pexels.com/photos/1051077/pexels-photo-1051077.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img" alt="GIS Map Background" style="background-size: cover; height: 100%; width: 100%;">
      <div class="card-img-overlay d-flex justify-content-center align-items-center">
        <form method="post" class="form" style="background-color: rgba(0, 0, 0, 0.6); padding: 20px; border-radius: 10px; color: white; text-align: center;">
          {% csrf_token %}
          <h2 class="text-white mb-4"><b>Forgot Password</b></h2>
          <div class="form-group">
            <label for="id_email" class="text-white">Email:</label>
            <input type="email" name="email" id="id_email" class="form-control">
          </div>
          <button type="submit" class="btn btn-dark btn-block mt-3">Reset Password</button>
          <p>If you don't want to reset password, please <a href="{% url 'login' %}" style="color: yellow;"><b>Go to login</b></a>.</p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
